<!-- About US Section Begin -->
<section class="aboutus-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 p-0">
        <div class="about-text">
          <div class="section-title">
            <div class="d-flex justify-content-between lign-items-center">
              <h2>Profile Saya</h2>
              <div class="edit-profil"data-toggle="modal" data-target="#exampleModal" >
                <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="about-bar">
            <div class="ab-item">
              <p>Nama : {{ userProfile.nama }}</p>
              <div id="bar1" class="barfiller">
                <span class="fill" [attr.data-percentage]="userProfile.name ? 80 : 0"></span>
                <div class="tipWrap">
                  <span class="tip"></span>
                </div>
              </div>
            </div>
            <div class="ab-item">
              <p>Username : {{ userProfile.username }}</p>
              <div id="bar2" class="barfiller">
                <span class="fill" [attr.data-percentage]="userProfile.username ? 85 : 0"></span>
                <div class="tipWrap">
                  <span class="tip"></span>
                </div>
              </div>
            </div>
            <div class="ab-item">
              <p>Email : {{ userProfile.email }}</p>
              <div id="bar3" class="barfiller">
                <span class="fill" [attr.data-percentage]="userProfile.email ? 75 : 0"></span>
                <div class="tipWrap">
                  <span class="tip"></span>
                </div>
              </div>
            </div>
            <div class="ab-item">
              <p>Telepon : {{ userProfile.telepon }}</p>
              <div id="bar3" class="barfiller">
                <span class="fill" [attr.data-percentage]="userProfile.phone ? 75 : 0"></span>
                <div class="tipWrap">
                  <span class="tip"></span>
                </div>
              </div>
            </div>
            <div class="ab-item">
              <p>Gender : {{ userProfile.gender }}</p>
              <div id="bar3" class="barfiller">
                <span class="fill" [attr.data-percentage]="userProfile.gender ? 75 : 0"></span>
                <div class="tipWrap">
                  <span class="tip"></span>
                </div>
              </div>
            </div>
            <div class="ab-item">
              <p>Bergabung Pada : {{ userProfile.date_joined | date:'dd MMMM yyyy' }}</p>
              <div id="bar3" class="barfiller">
                <span class="fill" [attr.data-percentage]="userProfile.joined_on ? 75 : 0"></span>
                <div class="tipWrap">
                  <span class="tip"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About US Section End -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="updateProfile()" #updateForm="ngForm">
          <div class="mb-3">
              <input type="text" id="name" placeholder="Nama" class="myinput" [(ngModel)]="userProfile.nama" name="nama" required>
          </div>
          <div class="mb-3">
              <input type="email" placeholder="Email" id="email" class="myinput" [(ngModel)]="userProfile.email" name="email" required>
          </div>
          <div class="mb-3">
              <input type="tel" placeholder="Telepon" id="phone" class="myinput" [(ngModel)]="userProfile.telepon" name="telepon" required>
          </div>
          <div class="mb-3">
              <select
                class="myselect"
                [(ngModel)]="userProfile.gender" name="gender"
                required>
                <option disabled selected>Pilih Paket Membership</option>
                <option value="Laki-Laki">Laki-Laki</option>
                <option value="Perempuan">Perempuan</option>
              </select>
          </div>
          <div class="mb-3">
              <input type="password" id="password" class="myinput" [(ngModel)]="password" name="password" required>
          </div>
          <div class="mb-3">
              <input type="password" id="repeat_password" class="myinput" [(ngModel)]="repeatPassword" name="repeat_password" required>
          </div>
          <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Update</button>
          </div>
      </form>
      </div>
    </div>
  </div>
</div>