<!-- 404 Section Begin -->
<section class="section-404">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-404">
                    <h1>404</h1>
                    <h3>Oops! Halaman Ini Tidak Ditemukan!</h3>
                    <p>Maaf, halaman yang Anda cari tidak ada, telah dihapus, atau namanya diubah.</p>
                    <a href="/home"><i class="fa fa-home"></i> Go back home</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 404 Section End -->
<!-- Hero Section Begin -->
<section class="hero-section">
    <div class="hs-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg="assets/img/hero/hero-1.jpg">
        <div class="container">
            <div class="row">
            <div class="col-lg-6 offset-lg-6">
                <div class="hi-text">
                <span>Bentuk Tubuhmu</span>
                <h1>Jadilah <strong>kuat</strong> dengan latihan keras</h1>
                <a href="#" class="primary-btn">Dapatkan Info</a>
                </div>
            </div>
            </div>
        </div>
        </div>
        <div class="hs-item set-bg" data-setbg="assets/img/hero/hero-2.jpg">
        <div class="container">
            <div class="row">
            <div class="col-lg-6 offset-lg-6">
                <div class="hi-text">
                <span>Bentuk Tubuhmu</span>
                <h1>Jadilah <strong>kuat</strong> dengan latihan keras</h1>
                <a href="#" class="primary-btn">Dapatkan Info</a>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- Hero Section End -->