<!-- Hero Section Begin -->
<section class="hero-section">
  <div class="hs-slider owl-carousel">
    <div class="hs-item set-bg" data-setbg="assets/img/hero/hero-1.jpg">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 offset-lg-6">
            <div class="hi-text">
              <span>Bentuk Tubuhmu</span>
              <h1>Jadilah <strong>kuat</strong> dengan latihan keras</h1>
              <a href="/blog" class="primary-btn">Dapatkan Info</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hs-item set-bg" data-setbg="assets/img/hero/hero-2.jpg">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 offset-lg-6">
            <div class="hi-text">
              <span>Bentuk Tubuhmu</span>
              <h1>Jadilah <strong>kuat</strong> dengan latihan keras</h1>
              <a href="/blog" class="primary-btn">Dapatkan Info</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Hero Section End -->


<!-- ChoseUs Section Begin -->
<section class="choseus-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <span>Kenapa Memilih Kami?</span>
          <h2>MAKSIMALKAN POTENSI ANDA</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="cs-item">
          <span class="flaticon-034-stationary-bike"></span>
          <h4>Peralatan Terbaik</h4>
          <p>Kami menyediakan peralatan terbaik untuk memastikan Anda mendapatkan pengalaman latihan yang maksimal.</p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="cs-item">
          <span class="flaticon-033-juice"></span>
          <h4>Rencana Nutrisi Sehat</h4>
          <p>Rencana nutrisi yang dirancang khusus untuk mendukung kebutuhan latihan Anda dan meningkatkan hasil yang dicapai.</p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="cs-item">
          <span class="flaticon-002-dumbell"></span>
          <h4>Rencana Latihan Profesional</h4>
          <p>Rencana latihan yang dibuat oleh pelatih berpengalaman untuk membantu Anda mencapai tujuan kebugaran secara efektif.</p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="cs-item">
          <span class="flaticon-014-heart-beat"></span>
          <h4>Khusus untuk Kebutuhan Anda</h4>
          <p>Program latihan yang disesuaikan dengan kebutuhan dan tujuan pribadi Anda untuk hasil yang lebih optimal.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ChoseUs Section End -->

<!-- Classes Section Begin -->
<section class="classes-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <span>ALVARO GYM</span>
          <h2>APA YANG KAMI TAWARKAN</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="class-item">
          <div class="ci-pic">
            <img src="assets/img/classes/class-1.png" alt="Weightlifting">
          </div>
          <div class="ci-text">
            <span>Alat Gym</span>
            <h5>Leg Press</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="class-item">
          <div class="ci-pic">
            <img src="assets/img/classes/class-2.png" alt="Indoor cycling">
          </div>
          <div class="ci-text">
            <span>Alat Gym</span>
            <h5>Seated Row</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="class-item">
          <div class="ci-pic">
            <img src="assets/img/classes/class-3.png" alt="Kettlebell power">
          </div>
          <div class="ci-text">
            <span>Alat Gym</span>
            <h5>Bench Press</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="class-item">
          <div class="ci-pic">
            <img src="assets/img/classes/class-4.jpg" alt="Indoor cycling">
          </div>
          <div class="ci-text">
            <span>Trainer Gym</span>
            <h4>Coach kompeten</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="class-item">
          <div class="ci-pic">
            <img src="assets/img/classes/class-5.jpg" alt="Boxing">
          </div>
          <div class="ci-text">
            <span>Kompetisi</span>
            <h4>Bodybuilder</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Classes Section End -->

<!-- Banner Section Begin -->
<section class="banner-section set-bg" data-setbg="assets/img/banner-bg.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="bs-text">
          <h2>Daftar sekarang untuk mendapatkan penawaran menarik</h2>
          <div class="bt-tips">Tempat di mana kesehatan, kecantikan, dan kebugaran bertemu.</div>
          <a href="/pembelian" class="primary-btn btn-normal">Bergabung Sekarang</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Banner Section End -->


<!-- Pricing Membership -->
<section class="pricing-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <span>Bergabung Bersama Kami</span>
          <h2>Pilih paket membership Anda</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div *ngFor="let produk of membershipProduk" class="col-lg-4 col-md-8">
        <div class="ps-item">
          <h3>{{ produk.nama }}</h3>
          <div class="pi-price">
            <h4 class="mb-4 harga">{{ produk.harga | currencyFormat }}</h4>
            <span>PAKET MEMBERSHIP</span>
          </div>
          <ul>
            <li>Olahraga kapan saja</li>
            <li>Lingkungan yang nyaman</li>
            <li>Bebas Mengatur Program Latihan</li>
            <li>Pilihan paket yang lebih sederhana</li>
            <li>Biaya yang Lebih Terjangkau</li>
            <li>Pembayaran mudah</li>
          </ul>
          <a href="/pembelian?type=membership" class="primary-btn pricing-btn">Daftar sekarang</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Pricing Membership End -->


<!-- Bagian Tim Mulai -->
<section class="team-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="team-title">
          <div class="section-title">
            <span>Trainer Kami</span>
            <h2>BERLATIH DENGAN AHLI</h2>
          </div>
          <a href="/pembelian?type=trainer" class="primary-btn btn-normal appoinment-btn">Trainer</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="ts-slider owl-carousel">
        <div class="col-lg-4" *ngFor="let coach of coaches">
          <div class="ts-item set-bg" [ngStyle]="{'background-image': 'url(' + coach.image + ')'}">
            <div class="ts_text">
              <h4>{{ coach.nama }}</h4>
              <span>Gym Trainer</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Bagian Tim Akhir -->



