<!-- Get In Touch Section Begin -->
<div class="gettouch-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="gt-text">
          <i class="fa fa-map-marker"></i>
          <p>Jl. Untung Surapati Blok D No.19, Benua Melayu Darat, Kec. Pontianak Sel., Kota Pontianak, Kalimantan Barat 78113</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="gt-text">
          <i class="fa fa-mobile"></i>
          <ul>
            <li>0822-5571-9988</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="gt-text email">
          <i class="fa fa-envelope"></i>
          <p [innerHTML]="'alvarogym@gmail.com'"></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Get In Touch Section End -->

<!-- Bagian Footer Mulai -->
<section class="footer-section">
  <div class="container">
    <div class="row d-flex justify-content-between">
      <div class="col-lg-4">
        <div class="fs-about">
          <div class="fa-logo">
            <a href="/home"><img src="assets/img/logo.png" alt=""></a>
          </div>
          <p>Selamat datang di Gym kami, tempat di mana kesehatan dan kebugaran Anda adalah prioritas utama kami. Kami menyediakan berbagai fasilitas dan program latihan untuk membantu Anda mencapai tujuan kebugaran Anda dengan cara yang menyenangkan dan efektif.</p>
          <div class="fa-social">
            <a><i class="fa fa-facebook"></i></a>
            <a><i class="fa fa-twitter"></i></a>
            <a><i class="fa fa-youtube-play"></i></a>
            <a><i class="fa fa-instagram"></i></a>
            <a><i class="fa fa-envelope-o"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="fs-widget">
          <h4>Tautan Berguna</h4>
          <ul>
            <li><a href="/tentang-kami">Tentang Kami</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/hubungi">Kontak</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="fs-widget">
          <h4>Dukungan</h4>
          <ul>
            <li><a href="/sign-in">Sign-In</a></li>
            <li><a href="/profil">Akun Saya</a></li>
            <li><a href="/bmi-kalkulator">BMI Kalkulator</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="copyright-text">
          <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>
              document.write(new Date().getFullYear());

            </script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i>
            by <a href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Bagian Footer Akhir -->
