<!-- About US Section Begin -->
<section class="aboutus-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 p-0">
        <div class="about-text">
          <div class="section-title">
            <div class="d-flex justify-content-between lign-items-center">
              <h2>Membership</h2>
              <div class="edit-profil">
                <a href="/perpanjang?type=membership"><i class="fa fa fa-plus fa-2x" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
          <div class="about-bar" *ngIf="(membership$ | async) as membership">
            <div class="ab-item">
              <p>Paket Membership : {{ membership.produk.nama }}</p>
              <div id="bar1" class="barfiller">
                <span class="fill" data-percentage="80"></span>
                <div class="tipWrap">
                  <span class="tip"></span>
                </div>
              </div>
            </div>
            <div class="ab-item">
              <p>Harga : {{ membership.produk.harga | currencyFormat}}</p>
              <div id="bar3" class="barfiller">
                <span class="fill" data-percentage="75"></span>
                <div class="tipWrap">
                  <span class="tip"></span>
                </div>
              </div>
            </div>
            <div class="ab-item">
              <p>Durasi : {{ membership.produk.durasi_hari }} hari</p>
              <div id="bar2" class="barfiller">
                <span class="fill" data-percentage="85"></span>
                <div class="tipWrap">
                  <span class="tip"></span>
                </div>
              </div>
            </div>
            <div class="ab-item">
              <p>Waktu Akses : {{ getRemainingDays(membership) }} hari</p>
              <div id="bar2" class="barfiller">
                <span class="fill" data-percentage="85"></span>
                <div class="tipWrap">
                  <span class="tip"></span>
                </div>
              </div>
            </div>
            <div class="ab-item">
              <p>Tanggal Daftar : {{ membership.tanggal_mulai | date:'d MMMM yyyy' }}</p>
              <div id="bar2" class="barfiller">
                <span class="fill" data-percentage="85"></span>
                <div class="tipWrap">
                  <span class="tip"></span>
                </div>
              </div>
            </div>
            <div class="ab-item">
              <p>Tanggal Berakhir : {{ membership.tanggal_akhir | date:'d MMMM yyyy' }}</p>
              <div id="bar2" class="barfiller">
                <span class="fill" data-percentage="85"></span>
                <div class="tipWrap">
                  <span class="tip"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- About US Section End -->
